[Unit]
Description=Httpd true

[Service]
ExecStart=/opt/arch32/systemd-socketactivation/httpd-true
#ExecStart=/var/opt/quixote/quixote/server/simple_server.py
#User=subsonic

PrivateTmp=yes
